<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web Post</title>
</head>
<body>
    <header>
        <h1>Blog Web Post</h1>
    </header>

    {% extends 'blog/base.html' %}

    <main class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                    {% for post in posts %}
                        <article class="post">
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <time class="date">
                                {{ post.published_date }}
                            </time>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </article>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </main>
    


    
    
</body>
</html>