<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web Post</title>
</head>
<body>
    <header>
        <h1>Blog Web Post</h1>
    </header>

    <article>
        <h2>Title</h1>
        <time>Time published</time>
        <p>Article text</p>
        <p><strong>Author</strong></p>
    </article>

    <article>
        <h2>Title</h1>
        <time>Time published</time>
        <p>Article text</p>
        <p><strong>Author</strong></p>
    </article>
       


    
    
</body>
</html>